version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: wishy-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: wishy
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wishy_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: wishy-pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    depends_on:
      - db

volumes:
  postgres_data:
