@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-200: #c5d1be;
  --color-primary-500: #a8b5a0;
  --color-primary-700: #8f9c88;

  --color-accent-200: #e8c0c0;
  --color-accent-500: #d4a5a5;
  --color-accent-700: #c09090;

  --color-cream-500: #f5f1e8;
  --color-cream-700: #ebe5d5;
}
